In [9]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [10]:
municipios = pd.read_csv("municipios.csv")

In [12]:
municipios.head()

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
0,5200050,Abadia de Goiás,-16.75730,-49.4412,0,52,1050,62,America/Sao_Paulo
1,3100104,Abadia dos Dourados,-18.48310,-47.3916,0,31,4001,34,America/Sao_Paulo
2,5200100,Abadiânia,-16.19700,-48.7057,0,52,9201,62,America/Sao_Paulo
3,3100203,Abaeté,-19.15510,-45.4444,0,31,4003,37,America/Sao_Paulo
4,1500107,Abaetetuba,-1.72183,-48.8788,0,15,401,91,America/Sao_Paulo

In [13]:
municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   codigo_ibge   5570 non-null   int64
 1   nome          5570 non-null   object
 2   latitude      5570 non-null   float64
 3   longitude     5570 non-null   float64
 4   capital       5570 non-null   int64
 5   codigo_uf     5570 non-null   int64
 6   siafi_id      5570 non-null   int64
 7   ddd           5570 non-null   int64
 8   fuso_horario  5570 non-null   object
dtypes: float64(2), int64(5), object(2)
memory usage: 391.8+ KB

In [14]:
municipios.query("codigo_uf==13")

,codigo_ibge,nome,latitude,longitude,capital,codigo_uf,siafi_id,ddd,fuso_horario
170,1300029,Alvarães,-3.22727,-64.8007,0,13,289,97,America/Porto_Velho
195,1300060,Amaturá,-3.37455,-68.2005,0,13,291,97,America/Porto_Velho
216,1300086,Anamã,-3.56697,-61.3963,0,13,293,97,America/Porto_Velho
252,1300102,Anori,-3.74603,-61.6575,0,13,203,97,America/Porto_Velho
286,1300144,Apuí,-7.19409,-59.8960,0,13,969,97,America/Porto_Velho
...,...,...,...,...,...,...,...,...,...
5188,1304203,Tefé,-3.36822,-64.7193,0,13,281,97,America/Porto_Velho
5259,1304237,Tonantins,-2.86582,-67.7919,0,13,9851,97,America/Porto_Velho
5345,1304260,Uarini,-2.99609,-65.1133,0,13,9849,97,America/Porto_Velho
5400,1304302,Urucará,-2.52936,-57.7538,0,13,285,92,America/Porto_Velho
5404,1304401,Urucurituba,-3.12841,-58.1496,0,13,287,92,America/Porto_Velho